.button {
  border-top: 1px solid #d3e7c5;
  background: #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bfd8af),
    to(#ffffff)
  );
  background: -webkit-linear-gradient(top, #bfd8af, #ffffff);
  background: -moz-linear-gradient(top, #bfd8af, #ffffff);
  background: -ms-linear-gradient(top, #bfd8af, #ffffff);
  background: -o-linear-gradient(top, #bfd8af, #ffffff);
  padding: 12.5px 25px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #000000;
  font-size: 13px;
  font-family: "Lucida Grande", Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  border-top-color: #99bc85;
  background: #99bc85;
  color: #000000;
}
.button:active {
  border-top-color: #bfd8af;
  background: #bfd8af;
}
