.nav-container{
    position: fixed;
    top: 0;
    left: 1.2rem;
    width: 100%;
    padding: 0px 10px;
    margin-top: -8vh; 
    background: transparent;
    display: flex;
    gap: 77vw;
    /* justify-content: space-between; */
    align-items: center;
     z-index: 100;
}
.nav-container .logo-img{
    height: 30vh;
} 