
.container{
    margin-top: 10vh;
    color: black;
    background-color: #99BC85;
    padding-top: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
.row {
    
    display: flex;
    flex-wrap: wrap;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    margin-bottom: 5vh;
    font-size: 1.3rem;
}
  
.footer-row{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2vh;
}